In [1]:
import pandas as pd

In [2]:
addresses = [
    ("8809 Flair Square", "Toddside", "IL", "37206"),
    ("9901 Austin Street", "Toddside", "IL", "37206"),
    ("905 Hogan Quarter", "Franklin", "IL", "37206"),
]

#level of the multiindex


row_index = pd.MultiIndex.from_tuples(tuples=addresses, names=["Street", "City", "State", "Zip"])

Livability of address

In [3]:
data = [
    ["C-", "B+", "B-", "A"],
    ["D+", "C", "A", "C+"],
    ["A-", "A", "D+", "F"],
]

column_index = pd.MultiIndex.from_tuples(
    [
        ("Culture", "Restaurants"),
        ("Culture", "Museums"),
        ("Services", "Police"),
        ("Services", "Schools"),
    ]
    , names=["Ale", "Maria"]
)

pd.DataFrame(data=data, index=row_index, columns=column_index)

Ale                                         Culture         Services
Maria                                   Restaurants Museums   Police Schools
Street             City     State Zip
8809 Flair Square  Toddside IL    37206          C-      B+       B-       A
9901 Austin Street Toddside IL    37206          D+       C        A      C+
905 Hogan Quarter  Franklin IL    37206          A-       A       D+       F

In [4]:
neighborhoods = pd.read_csv("neighborhoods.csv", index_col=[0,1,2], header=[0,1])

In [5]:
neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 251 entries, ('MO', 'Fisherborough', '244 Tracy View') to ('NE', 'South Kennethmouth', '346 Wallace Pass')
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Culture, Restaurants)  251 non-null    object
 1   (Culture, Museums)      251 non-null    object
 2   (Services, Police)      251 non-null    object
 3   (Services, Schools)     251 non-null    object
dtypes: object(4)
memory usage: 27.1+ KB

In [6]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [7]:
neighborhoods.columns.names = ["Category", "Subcategory"]

In [8]:
list(neighborhoods.index.get_level_values(level=2))

['244 Tracy View',
 '446 Cynthia Inlet',
 '432 John Common',
 '238 Andrew Rue',
 '877 Walter Neck',
 '696 Weber Stravenue',
 '285 Justin Corners',
 '607 Montoya Harbors',
 '041 Michael Neck',
 '550 Gilmore Mountains',
 '857 Michelle Shoal',
 '307 Stephens Path',
 '221 Frederick Plaza',
 '800 Christopher Haven',
 '377 Foster View',
 '281 Austin Crossing',
 '987 Derek Fall',
 '542 Jessica Stream',
 '519 Hill Plaza',
 '557 Edwards Estates',
 '398 Erika Lake',
 '215 Kathleen Flat',
 '751 Walker Meadows',
 '693 Avila Pines',
 '393 Jasmine Hollow',
 '208 Regina Roads',
 '695 Amy Ports',
 '035 Trevor Squares',
 '369 Victoria Road',
 '785 Kristen Vista',
 '417 Simmons Spur',
 '804 Stephanie Summit',
 '933 Jennifer Burg',
 '283 Morales Locks',
 '798 Joseph Orchard',
 '008 Mitchell Highway',
 '665 Cooley Shore',
 '113 Gordon Ridges',
 '817 Johnson Street',
 '502 Taylor Inlet',
 '154 Alexander Track',
 '404 Crystal Crest',
 '821 Jake Fork',
 '793 Cynthia Square',
 '650 Angela Track',
 '523 Ali Stream',
 '168 Brown Stravenue',
 '507 White Vista',
 '831 Norma Cove',
 '946 Lindsay Port',
 '943 James Lake',
 '663 Hamilton Way',
 '489 Wayne Isle',
 '095 Christensen Wall',
 '678 Gina Parks',
 '770 Little Shoals',
 '267 Willis Court',
 '941 Brian Expressway',
 '372 Vazquez Isle',
 '829 Melissa Mountain',
 '467 Lisa Mission',
 '559 Michael Glens',
 '356 Dodson Plains',
 '294 Mitchell Village',
 '710 Timothy Mountain',
 '539 Horton Fork',
 '811 Watts Drives',
 '139 Hardy Vista',
 '041 Patterson Station',
 '751 Patton Squares',
 '539 Curry Station',
 '717 Patel Square',
 '643 Allen Estates',
 '103 David Crest',
 '307 Le Flat',
 '975 Bell Fork',
 '278 Jones Lane',
 '063 Cox Park',
 '660 Anthony Path',
 '160 Martin River',
 '476 Jaime Spurs',
 '118 Thompson Stravenue',
 '811 Kathleen Trace',
 '410 Keith Lodge',
 '227 Andrew Parkway',
 '877 Smith Haven',
 '721 Brennan Common',
 '183 Anderson View',
 '328 Brian Cliff',
 '249 Johnson Tunnel',
 '690 Gonzales Tunnel',
 '934 David Run',
 '871 Christopher Vista',
 '910 Sandy Ramp',
 '677 Morales Coves',
 '746 Jeffrey Bypass',
 '886 Harding Place',
 '570 James Unions',
 '943 Luna Parks',
 '194 Miller Grove',
 '208 Adams Brook',
 '419 Michael Squares',
 '798 Potts Crossing',
 '332 Rachel Way',
 '132 Gina Rue',
 '477 Flores Cliff',
 '072 Mariah Creek',
 '943 Melissa Haven',
 '307 Wood Camp',
 '943 John Gardens',
 '567 Parks Junction',
 '283 Kelli Forest',
 '275 Samantha Square',
 '426 Sampson Manor',
 '386 Rebecca Cove',
 '547 Miller Isle',
 '746 Wilcox Locks',
 '631 Lynch Hill',
 '719 Dixon Ways',
 '754 Weaver Turnpike',
 '570 Davis Isle',
 '007 Macias Points',
 '520 Ellis Meadows',
 '919 Stewart Hills',
 '587 Tony Route',
 '567 Ricky Trafficway',
 '082 Leblanc Freeway',
 '146 Campbell Vista',
 '461 David Courts',
 '286 Rodgers Plains',
 '694 Wright Trail',
 '352 Davis Mountain',
 '163 Heather Neck',
 '098 Carter Stravenue',
 '271 Ryan Mount',
 '534 Gordon Falls',
 '047 Martinez Keys',
 '985 Sierra Estate',
 '503 Rebecca Flats',
 '323 William Club',
 '208 David Ville',
 '544 Patel Locks',
 '348 Jack Branch',
 '540 Berry Burgs',
 '493 Griffin Mews',
 '084 Jamie Tunnel',
 '436 Parker Shore',
 '957 Olson Fields',
 '802 Cook Cliff',
 '177 Scott Park',
 '576 Serrano Spurs',
 '460 Anna Tunnel',
 '288 Shaun Lodge',
 '946 Savannah Rapids',
 '728 Davis Prairie',
 '551 Joshua Club',
 '010 Lucero Point',
 '481 Julie Meadows',
 '141 Eric Lock',
 '139 Bailey Grove',
 '622 Kayla Passage',
 '162 Luke Wall',
 '499 Hinton Forks',
 '822 Connie Dale',
 '048 Brian Cove',
 '066 Carr Road',
 '005 Maxwell Fields',
 '955 Hoffman Camp',
 '302 Paul Spring',
 '603 Clark Mount',
 '208 Todd Knolls',
 '155 Ethan Island',
 '654 Margaret Lake',
 '909 Adkins Square',
 '452 Johnson Pike',
 '984 Williams Road',
 '191 Mindy Meadows',
 '333 Johnson Fields',
 '869 Mullen Village',
 '028 Ford Brook',
 '131 Thomas Meadow',
 '418 Collier Walks',
 '648 George Crest',
 '013 Bell Mills',
 '735 Loretta Mills',
 '105 Benjamin Mission',
 '947 Anthony Roads',
 '624 Faulkner Orchard',
 '995 Jessica Haven',
 '989 Dean Plains',
 '847 Nelson Cape',
 '731 Atkinson Knolls',
 '149 Norman Crossing',
 '445 Moreno Port',
 '372 Franklin Radial',
 '593 Mitchell Mission',
 '644 Ronald Square',
 '515 Rebecca Lights',
 '070 Tara Center',
 '952 Ellis Drive',
 '944 William Lane',
 '424 Marissa Underpass',
 '595 Moore Corner',
 '430 Douglas Mission',
 '259 Robles Turnpike',
 '124 Diaz Brooks',
 '389 Castillo Plains',
 '430 Calvin Underpass',
 '393 Jennifer Parkway',
 '200 Charles Springs',
 '683 Goodman Crescent',
 '073 Amanda Well',
 '856 Christopher Stravenue',
 '272 Cain Via',
 '654 Fisher Summit',
 '219 Henderson Glen',
 '052 Brock Glens',
 '161 Austin Ranch',
 '698 Lee Meadows',
 '671 Cantrell Highway',
 '347 Nicholas Shores',
 '599 Robles Falls',
 '579 Nicholas Dam',
 '213 Jackson Highway',
 '598 Jacob Oval',
 '600 Rodriguez Forks',
 '518 Christopher Springs',
 '459 Cooper Cape',
 '049 Jordan Lane',
 '344 Ronald Groves',
 '340 Maxwell Stravenue',
 '870 Erica Throughway',
 '335 Scott Manors',
 '697 Spencer Isle',
 '931 Pace Lights',
 '687 Dean Passage',
 '025 Richard Ridges',
 '051 Destiny Mission',
 '003 Daniel Via',
 '303 Alisha Road',
 '191 Gregory Court',
 '114 Jones Garden',
 '320 Jennifer Mission',
 '692 Hill Glens',
 '483 Freeman Via',
 '691 Winters Bridge',
 '055 Clayton Isle',
 '601 Richards Road',
 '385 Robin Harbors',
 '255 Gonzalez Land',
 '346 Wallace Pass']

In [9]:
neighborhoods.index.get_level_values(level="Street")

Index(['244 Tracy View', '446 Cynthia Inlet', '432 John Common',
       '238 Andrew Rue', '877 Walter Neck', '696 Weber Stravenue',
       '285 Justin Corners', '607 Montoya Harbors', '041 Michael Neck',
       '550 Gilmore Mountains',
       ...
       '114 Jones Garden', '320 Jennifer Mission', '692 Hill Glens',
       '483 Freeman Via', '691 Winters Bridge', '055 Clayton Isle',
       '601 Richards Road', '385 Robin Harbors', '255 Gonzalez Land',
       '346 Wallace Pass'],
      dtype='object', name='Street', length=251)

In [10]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           names=['Category', 'Subcategory'])

In [11]:
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [12]:
neighborhoods.columns.get_level_values("Subcategory")

Index(['Restaurants', 'Museums', 'Police', 'Schools'], dtype='object', name='Subcategory')

In [13]:
neighborhoods.nunique()

Category  Subcategory
Culture   Restaurants    13
          Museums        13
Services  Police         13
          Schools        13
dtype: int64

In [14]:
neighborhoods.sort_index(level=[1,2]).head()

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City        Street
AR    Allisonland 124 Diaz Brooks               C-      A+        F      C+
IA    Amyburgh    163 Heather Neck               F       D       A+      A-
GA    Amyburgh    941 Brian Expressway           B       B       D-      C+
ID    Andrewshire 952 Ellis Drive               C+      A-       C+       A
VT    Baileyfort  831 Norma Cove                 B      D+       A+      D+

In [15]:
neighborhoods.sort_index(level=[1,2], ascending=[True,False])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [16]:
neighborhoods.sort_index(axis=1, level=1, ascending=False)

,,Category,Services,Culture,Services,Culture
,,Subcategory,Schools,Restaurants,Police,Museums
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,A+,C+,D-,F
SD,Port Curtisville,446 Cynthia Inlet,D+,C-,B,B
WV,Jimenezview,432 John Common,B,A,F,A+
AK,Stevenshire,238 Andrew Rue,A-,D-,A-,A
ND,New Joshuaport,877 Walter Neck,B,D+,B,C-
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C+,B-,B,C
MT,Chadton,601 Richards Road,D,A-,D+,D
SC,Diazmouth,385 Robin Harbors,D+,F,B-,D
VA,Laurentown,255 Gonzalez Land,D-,C+,F,B-
NE,South Kennethmouth,346 Wallace Pass,A-,C-,A,B-

In [17]:
neighborhoods = neighborhoods.sort_index(ascending=True)

In [18]:
neighborhoods[[("Services","Schools"),("Culture","Museums"),("Culture","Restaurants")]]
neighborhoods

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [19]:
neighborhoods.loc[("CA","Dustinmouth"), ("Services", "Schools")]

Street
793 Cynthia Square    A
Name: (Services, Schools), dtype: object

In [20]:
neighborhoods.loc["NE":"NH"]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Barryborough       460 Anna Tunnel               A+      A+        B
      Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+
      South Tara         559 Michael Glens             C-      C-        F

Category
Subcategory                                   Schools
State City               Street
NE    Barryborough       460 Anna Tunnel            A
      Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-
      South Tara         559 Michael Glens          B

In [21]:
neighborhoods.loc[("AK","Scottstad"):("AL","East Connie","943 John Gardens")]

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
      East Bobbyside 294 Mitchell Village          C-      A-       B-       F
      East Connie    943 John Gardens              B+      C-       C+       D

In [22]:
neighborhoods.loc[("NE","Shawnchester"):("NH")]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+
      South Tara         559 Michael Glens             C-      C-        F

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-
      South Tara         559 Michael Glens          B

In [23]:
neighborhoods.iloc[[25,30]]

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City             Street
CT    East Jessicaland 208 Todd Knolls          A+       A       A+      C+
DC    East Lisaview    910 Sandy Ramp           A-      A+        B       B

In [24]:
neighborhoods.xs(key="Lake Nicole", level="City")

Category                      Culture         Services
Subcategory               Restaurants Museums   Police Schools
State Street
OR    650 Angela Track              D      C-        D       F
WY    754 Weaver Turnpike           B      D-        B       D
      933 Jennifer Burg             C      A+       A-       C

In [25]:
neighborhoods.xs(axis="columns", key="Museums", level="Subcategory")

Category                                  Culture
State City           Street
AK    Rowlandchester 386 Rebecca Cove          A-
      Scottstad      082 Leblanc Freeway       C-
                     114 Jones Garden          D-
      Stevenshire    238 Andrew Rue             A
AL    Clarkland      430 Douglas Mission        F
...                                           ...
WY    Lake Nicole    754 Weaver Turnpike       D-
                     933 Jennifer Burg         A+
      Martintown     013 Bell Mills             D
      Port Jason     624 Faulkner Orchard       F
      Reneeshire     717 Patel Square          B+

[251 rows x 1 columns]

In [26]:
neighborhoods.xs(key=("AK", "238 Andrew Rue"), level=["State", "Street"])

Category        Culture         Services
Subcategory Restaurants Museums   Police Schools
City
Stevenshire          D-       A       A-      A-

In [28]:
neighborhoods.reorder_levels(order=["City", "State", "Street"])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
City           State Street
Rowlandchester AK    386 Rebecca Cove              C-      A-       A+       C
Scottstad      AK    082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
Stevenshire    AK    238 Andrew Rue                D-       A       A-      A-
Clarkland      AL    430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
Lake Nicole    WY    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
Martintown     WY    013 Bell Mills                C-       D       A-      B-
Port Jason     WY    624 Faulkner Orchard          A-       F       C+      C+
Reneeshire     WY    717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [30]:
neighborhoods.reorder_levels([1,0,2])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
City           State Street
Rowlandchester AK    386 Rebecca Cove              C-      A-       A+       C
Scottstad      AK    082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
Stevenshire    AK    238 Andrew Rue                D-       A       A-      A-
Clarkland      AL    430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
Lake Nicole    WY    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
Martintown     WY    013 Bell Mills                C-       D       A-      B-
Port Jason     WY    624 Faulkner Orchard          A-       F       C+      C+
Reneeshire     WY    717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [35]:
neighborhoods.reset_index(col_fill="Address" , col_level=1)

Category    Address                                           Culture          \
Subcategory   State            City                Street Restaurants Museums
0                AK  Rowlandchester      386 Rebecca Cove          C-      A-
1                AK       Scottstad   082 Leblanc Freeway           D      C-
2                AK       Scottstad      114 Jones Garden          D-      D-
3                AK     Stevenshire        238 Andrew Rue          D-       A
4                AL       Clarkland   430 Douglas Mission           A       F
..              ...             ...                   ...         ...     ...
246              WY     Lake Nicole   754 Weaver Turnpike           B      D-
247              WY     Lake Nicole     933 Jennifer Burg           C      A+
248              WY      Martintown        013 Bell Mills          C-       D
249              WY      Port Jason  624 Faulkner Orchard          A-       F
250              WY      Reneeshire      717 Patel Square           B      B+

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+
..               ...     ...
246                B       D
247               A-       C
248               A-      B-
249               C+      C+
250                D       A

[251 rows x 7 columns]

In [43]:
neighborhoods.reset_index(level=["Street"], col_level="Subcategory", col_fill="Address", drop=True)

Category                 Culture         Services
Subcategory          Restaurants Museums   Police Schools
State City
AK    Rowlandchester          C-      A-       A+       C
      Scottstad                D      C-        D      B+
      Scottstad               D-      D-        D       D
      Stevenshire             D-       A       A-      A-
AL    Clarkland                A       F       C+      B+
...                          ...     ...      ...     ...
WY    Lake Nicole              B      D-        B       D
      Lake Nicole              C      A+       A-       C
      Martintown              C-       D       A-      B-
      Port Jason              A-       F       C+      C+
      Reneeshire               B      B+        D       A

[251 rows x 4 columns]

In [50]:
neighborhoods.reset_index(level=["State","City"], drop=True)

Category                 Culture         Services
Subcategory          Restaurants Museums   Police Schools
Street
386 Rebecca Cove              C-      A-       A+       C
082 Leblanc Freeway            D      C-        D      B+
114 Jones Garden              D-      D-        D       D
238 Andrew Rue                D-       A       A-      A-
430 Douglas Mission            A       F       C+      B+
...                          ...     ...      ...     ...
754 Weaver Turnpike            B      D-        B       D
933 Jennifer Burg              C      A+       A-       C
013 Bell Mills                C-       D       A-      B-
624 Faulkner Orchard          A-       F       C+      C+
717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [52]:
neighborhoods = neighborhoods.reset_index()

In [55]:
neighborhoods.set_index(keys="City")

Category       State                Street     Culture         Services  \
Subcategory                                Restaurants Museums   Police
City
Rowlandchester    AK      386 Rebecca Cove          C-      A-       A+
Scottstad         AK   082 Leblanc Freeway           D      C-        D
Scottstad         AK      114 Jones Garden          D-      D-        D
Stevenshire       AK        238 Andrew Rue          D-       A       A-
Clarkland         AL   430 Douglas Mission           A       F       C+
...              ...                   ...         ...     ...      ...
Lake Nicole       WY   754 Weaver Turnpike           B      D-        B
Lake Nicole       WY     933 Jennifer Burg           C      A+       A-
Martintown        WY        013 Bell Mills          C-       D       A-
Port Jason        WY  624 Faulkner Orchard          A-       F       C+
Reneeshire        WY      717 Patel Square           B      B+        D

Category
Subcategory    Schools
City
Rowlandchester       C
Scottstad           B+
Scottstad            D
Stevenshire         A-
Clarkland           B+
...                ...
Lake Nicole          D
Lake Nicole          C
Martintown          B-
Port Jason          C+
Reneeshire           A

[251 rows x 6 columns]

In [60]:
neighborhoods.set_index(keys=[("Culture","Museums"), "State", "Street", "City"])

Category                                                         Culture  \
Subcategory                                                  Restaurants
(Culture, Museums) State Street               City
A-                 AK    386 Rebecca Cove     Rowlandchester          C-
C-                 AK    082 Leblanc Freeway  Scottstad                D
D-                 AK    114 Jones Garden     Scottstad               D-
A                  AK    238 Andrew Rue       Stevenshire             D-
F                  AL    430 Douglas Mission  Clarkland                A
...                                                                  ...
D-                 WY    754 Weaver Turnpike  Lake Nicole              B
A+                 WY    933 Jennifer Burg    Lake Nicole              C
D                  WY    013 Bell Mills       Martintown              C-
F                  WY    624 Faulkner Orchard Port Jason              A-
B+                 WY    717 Patel Square     Reneeshire               B

Category                                                     Services
Subcategory                                                    Police Schools
(Culture, Museums) State Street               City
A-                 AK    386 Rebecca Cove     Rowlandchester       A+       C
C-                 AK    082 Leblanc Freeway  Scottstad             D      B+
D-                 AK    114 Jones Garden     Scottstad             D       D
A                  AK    238 Andrew Rue       Stevenshire          A-      A-
F                  AL    430 Douglas Mission  Clarkland            C+      B+
...                                                               ...     ...
D-                 WY    754 Weaver Turnpike  Lake Nicole           B       D
A+                 WY    933 Jennifer Burg    Lake Nicole          A-       C
D                  WY    013 Bell Mills       Martintown           A-      B-
F                  WY    624 Faulkner Orchard Port Jason           C+      C+
B+                 WY    717 Patel Square     Reneeshire            D       A

[251 rows x 3 columns]